body {
    background-image: url('images/background.jpg');
}

img {
    width: 250px;
    height: 200px;
}

.scrolling-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul {
    list-style-type: none;
}
.media-body{
    max-width: 250px;
    background-color: white;
    padding: 3px;
    border: black solid 3px;
    border-radius: 12px;
}
input{
    min-width: 75%;
    margin: auto;
    border-radius: 12px;
}
select{
    min-width: 75%;
    justify-content: center;
    border: black solid 2px;
    border-radius: 12px;
    margin-bottom: 10px;
    height: 30px;
}
form {
    border: none;
    font-weight: bold;
    font-size: 25px;
}
li{
    margin: 10px;
}